# Dependencias
node_modules/

# Variables de entorno
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*

# Archivos temporales
tmp/
temp/

# Cobertura
coverage/

# Cache
.cache/

# Configuración del editor
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Compilación
dist/
build/